<div class="container">
  <h1>Mi primer proyecto</h1>
  <h2>{{ saludoVariable }}</h2>
  <ul>
    <li>Total {{ tasks().length }}</li>
    <li *ngFor="let task of tasks(); index as i">
      {{i}} {{ task }}
    </li>
  </ul>

  <hr />

  <h2>
    {{ "Hola".repeat(4) }}
  </h2>
  <p>La suma 1 + 1 = {{ 1 + 1 }}</p>
  <p>Hola, mi nombre es {{ nombre }} y tengo {{ edad }} años</p>

  <hr />

  <input type="text" [value]="inputValue" />
  <img [src]="imgUri" [alt]="imgDescription" />
  <button [value]="buttomValue" [disabled]="buttomDisabled">Hola</button>

  <hr />

  <p>Mi nombre es {{ person().name }}</p>
  <p>Tengo {{ person().age }} años</p>
  <p>Esto se imprime desde {{ person().description }}</p>

  <hr />
  <h2>MANEJO DE EVENTOS</h2>
  <button (click)="clickHander()">Click me event</button>
  <button (dblclick)="clickHander()">Double click me event</button>
  <input type="text" (change)="chageInput($event)">
  <input type="text" (keydown.shift.t)="clickHander()">

  <hr />
  <h2>SIGNALS</h2>
  <p>{{ nameReactivo() }}</p>

  <hr />
  <h2>Ng IF</h2>
  <p *ngIf="1 === 1">Directiva mostrando</p>
  <p *ngIf="nameReactivo().length >= 10"> El nombre tiene mas de 10 caracteres </p>


  <input type="number" [value]="person().age" (change)="changeAge($event)">

  <p *ngIf="person().age >= 18; else menorDeEdad"> {{person().name}} es mayor de edad</p>
  <ng-template #menorDeEdad>
    {{person().name}} es menor de edad
  </ng-template>

  <hr />
  <h2>Ng SWITCH</h2>
  <input type="text" (change)="changeName($event)">
  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'Breynner Ariza'">Usted se llama Breynner</p>
    <p *ngSwitchCase="'Karen Ariza'">Usted se llama Karen</p>
    <p *ngSwitchDefault>No se como te llamas</p>
  </div>
  
  <hr />
  <h2>CONTROL DE INPUTS</h2>
  <input type="color" [formControl] = "colorControl">
  <p>Color seleccionado: {{ colorControl.value }}</p>
</div>